pandas          >= 0.24.0
numpy           >= 1.16.4
scikit-learn    >= 0.19.1
matplotlib      >= 3.0.3
requests        >= 2.20.0
scipy           >= 0.19.1
pytest          >= 4.1.0
six             >= 1.12.0
python-dateutil >= 2.8.0
ipywidgets      >= 7.4.2
ipython         >= 7.4.0
gmaps           >= 0.9.0
colormap        >= 1.0.1
easydev         >= 0.10.0
jsonschema      >= 4.17.3